# Node modules folder
node_modules/

# Build folder
build/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Dependency directories
.DS_Store

# Environment variables
.env

# IDE settings
.idea/
.vscode/

# Coverage reports (if using testing tools like Jest)
coverage/

# Temporary files
*.swp
